.link {
:active{
    color: gold;
}
width: 217px;
height: 56px;
margin-top: 80px;
margin-left: 514px;
background: #66D2CF;
border-radius: 6px;

.link__item {
    padding-left: auto ;
padding-top: 15px;
    font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
}
}
